.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}